h1{
    position: relative;
    top:-100vh ; 
    left:31vw ;
    color: white;
    font-style:italic;
    font-size: 50px;
  }
  p{
    position: relative;
    width:700;
    top:-110vh ; 
    left:31vw ;
    color: white;
    font-style:italic;
    font-size: 20px;
  }
  .Portfolio{
    position: absolute;
    top:-15vh;
    left:30vw;
    height:390px;
    width: 440px;
  }
  
  
  .move-area{/*normally use body*/
    width: 100vw;
    height: 100vh;
    position: relative;
    top:55vh;

    
  }
  .container {
    width: 100%;
   
  }
 